<window id="4">
	<defaultcontrol always="true">9000</defaultcontrol>
	<allowoverlay>yes</allowoverlay>
	<controls>
		<include>CommonBackground</include>
		<!--Background-->  
		<control type="image">
			<posx>0</posx>
			<posy>0</posy>
			<width>1280</width>
			<height>720</height>
			<texture>settings_bg.png</texture>
			<aspectratio>stretch</aspectratio>
		</control>
		
		<control type="label">
			<posx>30</posx>
			<posy>50</posy>
			<width>800</width>
			<height>30</height>
			<font>aller_4_38</font>
			<textcolor>greym</textcolor>
			<label>31920</label>
		</control>
	
		<control type="grouplist" id="9000">
			<posx>30</posx>
			<posy>147</posy>
			<width>300</width>
			<height>600</height>
			<itemgap>26</itemgap>
			<onleft>9000</onleft>
			<onright>9000</onright>
			<onup>9000</onup>
			<ondown>9000</ondown>
			<orientation>vertical</orientation>
			<control type="button" id="1">
				<description>Skin</description>
				<width>150</width>
				<label>31407</label>
				<include>settingsbuttonlabel</include>
				<onclick>ActivateWindow(1111)</onclick>
				<onright>ActivateWindow(1111)</onright>
			</control>
			<control type="button" id="2">
				<description>Appearance</description>
				<width>220</width>
				<label>31400</label>
				<include>settingsbuttonlabel</include>
				<onclick>ActivateWindow(AppearanceSettings)</onclick>
				<onright>ActivateWindow(AppearanceSettings)</onright>
			</control>
			<control type="button" id="3">
				<description>Videos</description>
				<width>142</width>
				<label>31401</label>
				<include>settingsbuttonlabel</include>
				<onclick>ActivateWindow(VideosSettings)</onclick>
				<onright>ActivateWindow(VideosSettings)</onright>
			</control>
			<control type="button" id="4">
				<description>Music</description>
				<width>126</width>
				<label>31402</label>
				<include>settingsbuttonlabel</include>
				<onclick>ActivateWindow(MusicSettings)</onclick>
				<onright>ActivateWindow(MusicSettings)</onright>
			</control>
			<control type="button" id="5">
				<description>Pictures</description>
				<width>170</width>
				<label>31403</label>
				<include>settingsbuttonlabel</include>
				<onclick>ActivateWindow(PicturesSettings)</onclick>
				<onright>ActivateWindow(PicturesSettings)</onright>
			</control>
			<control type="button" id="6">
				<description>Weather</description>
				<width>170</width>
				<label>31404</label>
				<include>settingsbuttonlabel</include>
				<onclick>ActivateWindow(WeatherSettings)</onclick>
				<onright>ActivateWindow(WeatherSettings)</onright>
			</control>
			<control type="button" id="7">
				<description>Addons</description>
				<width>170</width>
				<label>31408</label>
				<include>settingsbuttonlabel</include>
				<onclick>ActivateWindow(AddonBrowser)</onclick>
				<onright>ActivateWindow(AddonBrowser)</onright>
			</control>
			<control type="button" id="8">
				<description>Services</description>
				<width>172</width>
				<label>31409</label>
				<include>settingsbuttonlabel</include>
				<onclick>ActivateWindow(ServiceSettings)</onclick>
				<onright>ActivateWindow(ServiceSettings)</onright>
			</control>
			<control type="button" id="9">
				<description>System</description>
				<width>150</width>
				<label>31406</label>
				<include>settingsbuttonlabel</include>
				<onclick>ActivateWindow(SystemSettings)</onclick>
				<onright>ActivateWindow(SystemSettings)</onright>
			</control>
		</control>
		
		<include>CommonNowPlaying</include>
		<include>MainWindowMouseButtons</include>
		<include>Clocksettings</include>
	</controls>
</window>
